name: Release On Beta

on:
  workflow_run:
    workflows: [ "Build Test" ]
    types: [ completed ]
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}


    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache gradle modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set Current Time
        uses: 1466587594/get-current-time@v1
        id: current-time
        with:
          format: YYYY.MM
          utcOffset: "+09:00"
        if: always()

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Publish
        env:
          VERSION: "beta-${{ steps.current-time.outputs.formattedTime }}.${{github.run_number}}"
          USERNAME: ${{secrets.USERNAME}}
          TOKEN: ${{secrets.TOKEN}}
        run: ./gradlew publish